footer {
    display: flex;
    flex-flow: column;
    align-items: center;
}

.logos-services, .logos-brands {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    margin: 0;
    padding: 0;
}

.logos-services {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 1.5em 0 0 0;

    .logo-service {
        margin: 0.2em 0.5em;
        text-align: center;
        border-radius: 5px;
        box-shadow: 0 5px 6px rgba(0, 0, 0, 0.3);

        &:nth-child(1) {
            background-image: linear-gradient(rgba(255, 130, 157, 0.28) 0%, rgba(255, 64, 100, 0.3) 100%);
        }
        &:nth-child(2) {
            background-image: linear-gradient(rgba(210, 210, 34, 0.28) 0%, rgba(245, 230, 107, 0.3) 100%);
        }
        &:nth-child(3) {
            background-image: linear-gradient(rgba(86, 255, 157, 0.28) 0%, rgba(87, 230, 100, 0.3) 100%);
        }
        &:nth-child(4) {
            background-image: linear-gradient(rgba(35, 130, 255, 0.28) 0%, rgba(10, 64, 230, 0.3) 100%);
        }
        &:nth-child(5) {
            background-image: linear-gradient(rgba(120, 130, 255, 0.28) 0%, rgba(90, 64, 230, 0.3) 100%);
        }

        a {
            display: flex;
            padding: 0.5em;
            
            width: $logo-service-width;
            height: $logo-service-height;
            
            text-indent: -9999px;
            align-items: center;
            justify-content: center;
        }

        .logo {
            &.logo-cacti {
                @include retina-sprite($cacti-group);
            }
            &.logo-ntop {
                @include retina-sprite($ntop-group);
            }
            &.logo-torrents {
                @include retina-sprite($torrents-group);
            }
            &.logo-vm {
                @include retina-sprite($vm-group);
            }
            &.logo-syncthing {
                @include retina-sprite($syncthing-group);
            }
        }
    }
}
.logos-brands {
    margin: 1em 0;

    .logo-brand {
        margin: 0 0.3em;
        height: $logo-brand-height;
        border-radius: 3px;
        overflow: hidden;
    }

    a {
        display: flex;
        height: inherit;
        text-indent: -9999px;
        align-items: center;
        justify-content: center;
    }

    .logo-brand {
        .logo-intel {
            @include retina-sprite($intel-group);
        }
        .logo-asrock {
            @include retina-sprite($asrock-group);
        }
        .logo-kingston {
            @include retina-sprite($kingston-group);
        }
        .logo-noctua {
            @include retina-sprite($noctua-group);
        }
        .logo-wd {
            @include retina-sprite($wd-group);
        }
        .logo-linux {
            @include retina-sprite($linux-group);
        }
        .logo-ubuntu {
            @include retina-sprite($ubuntu-group);
        }
    }
}

