@import '~sprite.scss';
@import './mixins.scss';
@import './variables.scss';

@import './reset.scss';

.container-outer {
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
}
.nav-outer {
}

.header-outer {
    .title-main {
    }
}

.logo-outer {
    @include retina-sprite($squid2-group);
}

