body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    text-align: center;
    color: $color-primary;
    background: $color-bg;
}

header, footer {
    font-family: arial, helvetica, sans-serif;
}

a:link {
    cursor: pointer;
}

