.navbar-outer {
    .nav-box-specs {
        .spec {
            &:not(:last-child) {
                border-bottom: 1px solid #ccc;
            }
            &:hover {
                background: #eee;
            }
        }
        .specs-preview {
            margin: 1em 0;
            width: 340px;
            height: 160px;
            transition: opacity 0.1s linear;

            &.hidden {
                opacity: 0;
            }
            &.spec-0 {
                @include retina-sprite($cpu-group);
            }
            &.spec-1 {
                @include retina-sprite($ram-group);
            }
            &.spec-2 {
                @include retina-sprite($hdd-group);
            }
            &.spec-3 {
                @include retina-sprite($ssd-group);
            }
            &.spec-4 {
                @include retina-sprite($psu-group);
            }
            &.spec-5 {
                @include retina-sprite($case-group);
            }
            &.spec-6 {
                @include retina-sprite($motherboard-group);
            }
        }
    }

    .nav-box-services {
    }

    .nav-box-ups {
    }
}

