.navbar-outer {

    .nav-box-outer {
        display: flex;
        z-index: 10;
        position: absolute;
        width: 150%;
        top: 38px;
        left: -25%;
        transform: scaleY(1);
        transform-origin: top;
        overflow: hidden;
        background: rgba(255, 255, 255, 0.86);
        color: black;
        border-radius: 0.1em 0.1em 0.3em 0.3em;
        box-shadow: 0 3px 14px rgba(190, 90, 0, 0.5);
        transition: transform 0.2s cubic-bezier(0, 1, 0.5, 1);

        &.hidden {
            transform: scaleY(0);
        }

        .nav-box {
            width: 100%;
        }

        .inner {
            z-index: inherit;
            width: 100%;
            position: relative;
        }

        ul {
            margin: 0;
            padding: 0;
            list-style: none;
        }
        
        .nav-dropdown {
            display: flex;
            margin-bottom: 1em;
            flex-flow: column;

            li {
                padding: 0.3em 0;
                transition: background 0.3s ease;
            }
        }

    }
    
    .nav-box-specs {
        .spec {
            &:not(:last-child) {
                border-bottom: 1px solid #ccc;
            }
            &:hover {
                background: #eee;
            }
        }
        .specs-preview {
            margin: 1em 0;
            width: 340px;
            height: 160px;
            transition: opacity 0.1s linear;

            &.hidden {
                opacity: 0;
            }
            &.spec-0 {
                @include retina-sprite($cpu-group);
            }
            &.spec-1 {
                @include retina-sprite($ram-group);
            }
            &.spec-2 {
                @include retina-sprite($hdd-group);
            }
            &.spec-3 {
                @include retina-sprite($ssd-group);
            }
            &.spec-4 {
                @include retina-sprite($psu-group);
            }
            &.spec-5 {
                @include retina-sprite($case-group);
            }
            &.spec-6 {
                @include retina-sprite($motherboard-group);
            }
        }
    }

    .nav-box-services {
    }

    .nav-box-ups {
    }
}

